In [10]:
import pandas as pd
import duckdb
from sqlalchemy import create_engine
from tqdm.auto import tqdm

In [2]:
prefix = "https://d37ci6vzurychx.cloudfront.net/trip-data/"
file_name ="green_tripdata_2025-11.parquet"
url = prefix+file_name

In [3]:
dtype={

 'VendorID': 'Int64',
 'store_and_fwd_flag': 'object',
 'RatecodeID': 'Int64',
 'PULocationID': 'Int64',
 'DOLocationID': 'Int64',
 'passenger_count': 'Int64',
 'trip_distance': 'float64',
 'fare_amount': 'float64',
 'extra': 'float64',
 'mta_tax': 'float64',
 'tip_amount': 'float64',
 'tolls_amount': 'float64',
 'ehail_fee': 'float64',
 'improvement_surcharge': 'float64',
 'total_amount': 'float64',
 'payment_type': 'float64',
 'trip_type': 'Int64',
 'congestion_surcharge': 'float64',
 'cbd_congestion_fee': 'float64'  
}

parse_dates = [
    "lpep_pickup_datetime",
    "lpep_dropoff_datetime"
]

df = pd.read_parquet(url).astype(dtype)

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
print(pd.io.sql.get_schema(df, name = "yellow_taxi_data",con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type BIGINT,
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [8]:
df.head(n=0).to_sql(name = "yellow_taxi_data", con = engine, if_exists = "replace")

0

In [12]:
con = duckdb.connect()
con.execute("INSTALL httpfs; LOAD httpfs;")

record_batch_reader = con.execute(
    
    f"""
    SELECT *
    FROM '{url}'
""").fetch_record_batch(rows_per_batch=10000)

for batch in record_batch_reader:
    chunk_df = batch.to_pandas()
    chunk_df.to_sql(name = "yellow_taxi_data", con =engine, if_exists = 'append')
    print(f"Processing batch of {len(chunk_df)} rows")

Processing batch of 10000 rows
Processing batch of 10000 rows
Processing batch of 10000 rows

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Processing batch of 10000 rows
Processing batch of 6912 rows